.container {
  display: flex;
}


nav{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
 }
 h1{
  font-size: 40px;
  color-scheme: black;
font-style:unset Island Moments; 
position: relative; left: 150px;
 }
 ul{
  width:100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  font-family:Katibeh ;
 }
 ul li{
  list-style: none;
  padding: 0px 20px;
 }
 ul li a{
  text-decoration: none;
  color: black;
  font-size: 22px;
  transition: 00.5s ease;
 }

body{
  background-color:#E7E3E3 ;
 }
 .blog1 {
  
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.box {
  width: 300px;
}

.box img {
  max-width: 100%;
}
.box{
  position: relative; top:70px;
}
.rounded{
  border-radius: 50%;
}
.text1{
  font-size: 50px;
  position: relative; left:650px; bottom:200px;
}
.box2{
  position: relative;bottom:100px; left:200px;

}
.text2{
  font-size: 30px;
  position: relative;bottom:100px; left:200px;
}
.box3{
  position: relative;left: 700px; bottom:725px;
}

.text3{
  font-size: 30px;
  position: relative; left:700px; bottom:720px;
}