.container {
  display: flex;
}




  

nav{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
 }
 h1{
  font-size: 40px;
  color-scheme: black;
font-style:unset Island Moments; 
position: relative; left: 150px;
 }
 ul{
  width:100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  font-family:Katibeh ;
 }
 ul li{
  list-style: none;
  padding: 0px 20px;
 }
 ul li a{
  text-decoration: none;
  color: black;
  font-size: 22px;
  transition: 00.5s ease;
 }
 body{
  background-color:#E7E3E3 ;
 }
 .number{
 
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.box{
  width: 300px;

}
.box img{
  max-width: 100%;
  position:relative; left:800px; bottom:1495px;

}
.no1{
  position:absolute; left:900px; bottom:400px;
  color: #5C1A05;
  font-size: 60px;
}
.no2{
  position: relative; left:900px; top:500px;
  font-size: 30px;
  min-width: 40px;
}
.no3{
  position: relative; left:70px; top:30px;
  font-size: 23px;
}
.no4{
  position:relative; left:100px; bottom:240px;
 
}
.no5{

position: relative; left: 80px; top:27px;
font-size: 23px;
}
.no6{
  position: relative; left:140px; bottom:220px;
}
.no7{
  position: relative;left:360px; bottom: 530px;
  font-size: 22px;
}
.no8{
  position: relative; left: 500px; bottom: 770px;
}
.no9{
  position: relative; left:360px; bottom:480px;
  font-size: 23px;
}

.no10{
  position: relative; left: 450px ; bottom:730px;
}

